<div class="menu-bar">
  <h1>Transmilenio</h1>
  <button routerLink="/conductores">Gestionar Conductores</button>
  <button routerLink="/buses">Gestionar Buses</button>
</div>
<div class="bus-detalle">
  <h2>Detalles del Bus</h2>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <ng-container *ngIf="bus$ | async as bus">
    <div class="bus-info">
      <p><strong>ID:</strong> {{ bus.id }}</p>
      <p><strong>Modelo:</strong> {{ bus.modelo }}</p>
      <p><strong>Placa:</strong> {{ bus.placa }}</p>
      <button (click)="irAAsignarRutas()" class="btn btn-assign">Asignar Ruta</button>
    </div>

    <h3>Rutas Asignadas</h3>
    <table class="rutas-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ruta of bus.rutas">
        <td>{{ ruta.id }}</td>
        <td>{{ ruta.nombre }}</td>
        <td>
          <button (click)="seleccionarDias()" class="btn btn-view">Seleccionar días</button>
          <button *ngIf="ruta.id !== null" (click)="eliminarRuta(ruta.id!)" class="btn btn-eliminar">Eliminar</button>

        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
