<div class="menu-bar">
  <h1>Transmilenio</h1>
  <button routerLink="/conductores">Gestionar Conductores</button>
  <button routerLink="/buses">Gestionar Buses</button>
</div>
<div class="crear-bus-container">

  <h2>Editar Bus</h2>

  <form (ngSubmit)="actualizarBus()" class="bus-create-form">
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" [(ngModel)]="busDTO.modelo" name="modelo" required>
    </div>

    <div class="form-group">
      <label for="numeroPlaca">Número de Placa:</label>
      <input type="text" id="numeroPlaca" [(ngModel)]="busDTO.placa" name="numeroPlaca" required>
    </div>

    <ul *ngIf="allRutas$ | async as allRutas" class="rutas-list">
      <li *ngFor="let ruta of allRutas" class="ruta-item">
        <span class="ruta-name">{{ ruta.nombre }}</span> <!-- Asegúrate de que las propiedades sean correctas -->
        <div class="ruta-buttons">
          <button (click)="verRuta(ruta.id)" class="btn btn-view">Ver Ruta</button> <!-- Botón para ver la ruta -->
          <button *ngIf="ruta.id !== null" (click)="seleccionarDias(ruta.id)" class="btn btn-edit">Seleccionar días</button>
        </div>
      </li>
    </ul>

    <div class="form-buttons">
      <button type="submit" class="btn btn-create">Guardar Bus</button>
      <button type="button" class="btn btn-cancel" (click)="verBuses()">Cancelar</button>
    </div>
  </form>
</div>
