<div class="menu-bar">
  <h1>Transmilenio</h1>
  <button routerLink="/conductores">Gestionar Conductores</button>
  <button routerLink="/buses">Gestionar Buses</button>
  <button (click)="onLogout()">Cerrar sesión</button>

</div>
<div class="bus-list-container">

  <div class="search-bar">
    <input type="text" [(ngModel)]="placaBuscada" placeholder="Buscar..." />
    <button (click)="buscarBus()">Buscar</button>
  </div>
  <h1>Buses</h1>
  <p>{{ errorMessage }}</p>

  <!-- Botón para crear un nuevo bus -->
  <button (click)="crearBus()" class="create-button">Crear Bus</button>

  <ul *ngIf="allBuses$ | async as allBuses; else loading" class="bus-list">
    <li *ngFor="let bus of allBuses" class="bus-item">
      <span class="bus-info">
        {{ bus.placa }} - {{ bus.modelo }} <!-- Asegúrate de que las propiedades sean correctas -->
      </span>
      <div class="bus-buttons">
        <button (click)="verBus(bus.id)" class="view-button">Ver</button>
        <button *ngIf="bus.id !== null" (click)="editarBus(bus.id)" class="edit-button">Editar</button>
        <button (click)="eliminarBus(bus.id)" class="delete-button">Eliminar</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #loading>
  <p>Cargando...</p>
</ng-template>
