<div class="ruta-container">
  <h1>Rutas Existentes</h1>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <ul *ngIf="allRutas$ | async as allRutas; else loading" class="ruta-list">
    <li *ngFor="let ruta of allRutas" class="ruta-item">
      <div class="ruta-info">
        <span class="ruta-codigo">{{ ruta.nombre }}</span>
        <span class="conductor-horario">ID: {{ ruta.horarioInicio }}</span>
        <span class="conductor-horario">ID: {{ ruta.horarioFinal }}</span>
        <span class="conductor-dia">ID: {{ ruta.dias }}</span>
      </div>
      <div class="ruta-actions">
        <button class="view-button" (click)="verRuta(ruta.id)">Ver</button>
      </div>
    </li>
  </ul>

  <!-- Este es el bloque que se muestra cuando 'loading' es true -->
  <ng-template #loading>
    <div class="loading-spinner">Cargando...</div>
  </ng-template>
</div>
