<div class="menu-bar">
  <h1>Transmilenio</h1>
  <button routerLink="/conductores">Gestionar Conductores</button>
  <button routerLink="/buses">Gestionar Buses</button>
  <button (click)="onLogout()">Cerrar sesión</button>
</div>
<div class="asignar-bus-container">
  <h2>Asignar Bus-Ruta-Día al Conductor</h2>

  <form (ngSubmit)="asignarBus()" class="bus-assignment-form">
    <div class="form-group">
      <label for="bus">Seleccionar Bus-Ruta-Día:</label>
      <select id="bus" [(ngModel)]="selectedBusRutaDia" name="bus" required>
        <option *ngFor="let busRutaDia of busesRutaDia" [ngValue]="busRutaDia">
          {{ busRutaDia.bus.modelo }} - {{ busRutaDia.ruta.nombre }} ({{ busRutaDia.dias.join(', ') }})
        </option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="confirm-button">Confirmar Asignación</button>
    </div>
  </form>

  <p *ngIf="mensaje" class="message">{{ mensaje }}</p>
</div>
