<div class="crear-bus-container">
  <h2>Crear Bus</h2>

  <form (ngSubmit)="crearBus()" class="bus-create-form">
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" [(ngModel)]="busDTO.modelo" name="modelo" required>
    </div>

    <div class="form-group">
      <label for="numeroPlaca">Número de Placa:</label>
      <input type="text" id="numeroPlaca" [(ngModel)]="busDTO.placa" name="numeroPlaca" required>
    </div> <!-- Cierre del div que faltaba -->

    <div class="tabla-lista">
    <ul *ngIf="allRutas$ | async as allRutas" class="rutas-list">
      <li *ngFor="let ruta of allRutas" class="ruta-item">
        <span class="ruta-name">{{ ruta.nombre }}</span> <!-- Asegúrate de que las propiedades sean correctas -->
        <div class="ruta-buttons">
          <button (click)="verRuta(ruta.id)" class="btn btn-view">Seleccionar días</button>
        </div>
      </li>
    </ul>
    </div>


    <div class="form-buttons">
      <button type="submit" class="btn btn-create">Crear Bus</button>
      <button type="button" class="btn btn-cancel" (click)="verBuses()">Cancelar</button>
    </div>
  </form>
</div>
