<div class="menu-bar">
  <h1>Transmilenio</h1>
  <button routerLink="/rutas">Gestionar Rutas</button>
</div>
<form (ngSubmit)="crearRuta()" class="ruta-form">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="ruta.nombre" name="nombre" required class="form-control">
  </div>

  <!-- Hora Inicio -->
  <div class="form-group">
    <label for="horaInicio">Hora de Inicio:</label>
    <select id="horaInicio" [(ngModel)]="ruta.horaInicio" name="horaInicio" required class="form-control">
      <option *ngFor="let hora of horas" [value]="hora">{{ hora | date: 'HH:mm' }}</option>
    </select>
  </div>

  <!-- Hora Final -->
  <div class="form-group">
    <label for="horaFinal">Hora de Fin:</label>
    <select id="horaFinal" [(ngModel)]="ruta.horaFin" name="horaFinal" required class="form-control">
      <option *ngFor="let hora of horas" [value]="hora">{{ hora | date: 'HH:mm' }}</option>
    </select>
  </div>

  <!-- Días de la semana -->
  <div class="form-group">
    <label>Días de la Semana:</label>
    <div class="checkbox-group">
      <div *ngFor="let dia of diasSemana" class="checkbox-item">
        <input type="checkbox" [value]="dia" (change)="onDiaChange($event)">
        <span>{{ dia[0] }}</span> <!-- Mostrar solo la inicial del día -->
      </div>
    </div>
  </div>

  <!-- Estaciones -->
  <div class="form-group">
    <label>Estaciones:</label>
    <div class="checkbox-group">
      <div *ngFor="let estacion of estaciones" class="checkbox-item">
        <input
          type="checkbox"
          [value]="estacion.id"
          (change)="onEstacionChange($event)"
          [checked]="ruta.estacionesIds.includes(estacion.id)">
        <span>{{ estacion.nombre }}</span>
      </div>
    </div>
  </div>




  <button type="submit" class="btn btn-create">Crear Ruta</button>
</form>
